<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Student Manager</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <nav class="navbar navbar-light bg-light">
            <a th:href="@{/}" class="navbar-brand h1">Danh Sách Thành Viên</a>
          </nav>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-sm-12 d-flex justify-content-between">
          <div class="font-weight-bold">
            <p>
              Tổng số thành viên:
              <span th:text="${#lists.size(members)}"></span>
            </p>
            <select id="select-female" class="custom-select form-control">
              <option value="">Chọn...</option>
              <option value="false">Nam</option>
              <option value="true">Nữ</option>
            </select>
          </div>
          <div>
            <a
              th:href="@{/showFormNew}"
              class="btn btn-outline-primary text-primary"
              >Đăng ký thành viên</a
            >
          </div>
        </div>

        <div class="row mt-5 w-100" id="maincont">
          <div class="col-sm">
            <table class="table table-stripped table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Họ tên</th>
                  <th scope="col">Ngày sinh</th>
                  <th scope="col">Giới tính</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="mem:${members}">
                  <td th:text="${mem.name}"></td>
                  <td
                    th:text="${#dates.format(mem.birthDate, 'dd/MM/yyyy')}"
                  ></td>
                  <td th:text="${mem.female} ? 'Nữ' : 'Nam'"></td>
                  <td>
                    <a
                      th:href="@{/memberDetail(id=${mem.id})}"
                      th:text="${mem.email}"
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript">
  	$(document).ready(function() {
	  $("#select-female").change(function (e) {
	      $.ajax({
	        url: "/filter",
	        type: "GET",
	        data: {
	          female: $(this).val(),
	        },
	        success: function (data) {
	        	 $('#maincont').html(data);
	        },
	        error: function (e) {
	        	window.location="/"
	        },
	      });
	    });
  	})
  </script>
</html>
