<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registration page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body class="container d-flex align-items-center">
	<div class="card w-100">
		<div class="card-body w-100">
			<h5 class="card-title">Chào mừng bạn <h5 th:text="${member.name}"></h5></h5>
			<h6 class="card-subtitle mb-2 text-muted">Bạn có thể đăng nhập với tên: <span th:text="${member.email}"></span>
				và mật khẩu: <span th:text="${member.password}"></span>
			</h6>
			<!-- <h6 class="card-subtitle mb-2 text-muted">Mật khẩu: <span th:text="${member.password}"></span> -->
			</h6>
			<a th:href="@{/}" class="btn btn-outline-danger">Đóng</a>
		</div>
	</div>
</body>
</html>